SECRET_KEY=
YA_API_KEY=

ALLOWED_HOSTS=127.0.0.1,localhost
DEBUG=False

ROLLBAR_TOKEN=
ROLLBAR_ENABLED=


POSTGRES_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

CSRF_TRUSTED_ORIGINS=

GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120